<test>
  <httpErrors>
    <Error statusCode="403" path="D:\Projects\CustomErrors\..\wwwroot\errorpages\403.html" />
    <Error statusCode="500" path="D:\Projects\CustomErrors\..\wwwroot\errorpages\500.html" />
    <Error statusCode="400" path="D:\Projects\CustomErrors\..\wwwroot\errorpages\400.html" />
  </httpErrors>
</test>